# CoolTrader Credentials
COOLTRADER_USERNAME=your_cooltrader_username
COOLTRADER_PASSWORD=your_cooltrader_password

# Discord (optional)
SCANNERS_NOTIFICATIONS_DISCORD_WEBHOOK_URL=

# Optional Configuration Overrides
LOG_LEVEL=INFO
